@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slackey&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vermelho: #F5512B;
  --azul: #079fc5;
  --azul-escuro: #023fc2;
  --preto: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--vermelho);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

.fonteEspecial {
  font-family: "Slackey", serif;
}

.respostaRevelada {
  transform: rotateY(180deg);
  transition: 0.8s ease;
  perspective: 1000px; /* Isso deve estar no elemento PAI */
  transform-style: preserve-3d; /* Adicione essa linha */
}

.respostaRevelada div:nth-child(2) {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
